.button-content{
    button{
        flex: 1;
        width: 55%;
        height: 2.2rem;
        background-color: $bg-color;
        color: #fff;
        border: none;
        border-radius: 3px;
        font-family: $second-font;
        text-transform: uppercase;
        cursor: pointer;
        transition: .3s;
        font-weight: 400;
        letter-spacing: 2px;
        margin-bottom: 1rem;

        &:hover {
            color: #ff0;
            transition: .5s;
            box-shadow: 0 0 5px $main-color;
        }
    }
}

.lbGastos{
    width: 500px;
}